/obj
*.bak
*.dof
*.dsk
*.cfg
*.map
*.sym
__pycache__
/profile/*.txt
*.bat
*.ihx
*.noi
/.vscode
/*.cdb
/build
/test/*.noi
/test/*.sna
/test/*.bmp
/test/*.o
/test/*.asm
/test/*.lst
*.gb
/unused
/colorlines.zip
